.calendar-search {
  .search-wrapper {
    position: relative;
    input {
      width: 250px;
      height: 40px;
      border-radius: 25px;
      box-shadow: 0 8px 16px 0 rgba(74, 144, 226, 0.15);
      border: solid 1px #ffffff;
      background-color: #ffffff;
      font-size: 12px;
      letter-spacing: -0.08px;
      color: #a8b2b9;
      padding: 12px 25px;
    }
    img {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
